<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/lightgallery.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<div class="site_wrapper">
	<header class="header">
		
		<div class="header_bottom">
			<div class="block_inner">
				<div class="logo">
					<a href="main.html">
						<img src="files/logo.png" alt="">
					</a>
				</div>
				<div class="right_panel">
					<div class="panel_inner">
						<div class="menu_im">
							<ul>
								<li><a href="#about" class="button_id">О нас</a></li>
								<li><a href="#preim" class="button_id">Преимущества</a></li>
								<li><a href="#products" class="button_id">Последние покупки</a></li>
								<li><a href="#order_form" class="button_id">оставить заявку</a></li>
							</ul>
						</div>
						<div class="social_block">
							<a href="">
								<img src="files/soc1.svg" alt="">
							</a>
							<a href="">
								<img src="files/soc2.svg" alt="">
							</a>
							<a href="">
								<img src="files/soc3.svg" alt="">
							</a>
							<a href="">
								<img src="files/soc4.svg" alt="">
							</a>
						</div>
						<div class="phone">
							<a href="tel:+7 (000) 000-00-00">+7 (000) 000-00-00</a>
						</div>
						<!-- <div class="burger"></div> -->
					</div>
				</div>	
			</div>
		</div>
	</header>
	<div class="content_block_wr">