<div class="product_item neon-shadow">
    <div class="image">
        <a href="product-page.html">
            <img src="img/cc.jpg" alt="">
        </a>
    </div>
    <div class="body">
        <div class="name">
            <a href="product-page.html">Видеокарта PALIT GeForce RTX 3060 Ti Dual OC 8GB</a>
        </div>
        <div class="price_block">
            <div class="price">23.500 ₽</div>
        </div>
    </div>
</div>